<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1086224173015-s51irv2qb75rlf26s5gqh4o6m5tjtkba.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1086224173015-s51irv2qb75rlf26s5gqh4o6m5tjtkba</string>
	<key>API_KEY</key>
	<string>AIzaSyBrvy3-UY_kc0py34FXtOt6tAmjL79vWoU</string>
	<key>GCM_SENDER_ID</key>
	<string>1086224173015</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.karbanboard</string>
	<key>PROJECT_ID</key>
	<string>kanban-board-f190e</string>
	<key>STORAGE_BUCKET</key>
	<string>kanban-board-f190e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1086224173015:ios:f1c07862e331013aaded92</string>
</dict>
</plist>